*~
sync.data
old
config.cgi
website/media/**/*.jpg
website/media/**/*.jpeg
website/media/**/*.png
website/recordings/*
*.php
logs/*

# static frontend for programm.coloradio.org
website/programm/*
!website/programm/.htaccess
# remove this after a while
website/bak_to-delete

website/agenda/timestamp.cgi
