Content-type:text/html; charset=utf-8;


<TMPL_INCLUDE no_search_result.html>
<div>
<TMPL_LOOP NAME=events>
<TMPL_IF event_id>
    <TMPL_IF name="is_first_of_day">
        <div class="date">
            <TMPL_VAR weekday_short_name>, <TMPL_VAR start_date_name>
        </div>
    </TMPL_IF>
    <div id="event_<TMPL_VAR event_id>" class="event<TMPL_IF location_css> <TMPL_VAR location_css></TMPL_IF><TMPL_IF is_running> running</TMPL_IF>"
    >
        <span class="summary title" title="Mehr Infos zur Sendung">
            <TMPL_VAR start_time_name><TMPL_IF name="__last__"> - <TMPL_VAR end_time_name></TMPL_IF> | 
            <a id="event_list_id_<TMPL_VAR event_id>" class="click_for_detail" href="<TMPL_VAR widget_render_url>/<TMPL_VAR .controllers.event>/<TMPL_VAR event_id>.html#<TMPL_VAR event_uri escape=url>"
            ><TMPL_VAR full_title></a> <br>
            <span class="excerpt">
                    <TMPL_VAR excerpt> <TMPL_VAR user_excerpt>
            </span>
            <br>
            <TMPL_UNLESS no_comment>
                    <span class="eventlist_kommentarzahl submitted<TMPL_IF comment_count> comments</TMPL_IF>">&#128172; <TMPL_VAR comment_count> </span>
            </TMPL_UNLESS>
            <TMPL_IF is_running> (l&auml;uft gerade)</TMPL_IF>
    </div>
</TMPL_IF>
</TMPL_LOOP>
</div>
