/* Global
------------------------------------------------------------*/

body
	{
	background: rgb(247,247,247) url(../grafiken/bg.jpg) no-repeat fixed top;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: center; /* IE Fix */
	margin: 0;
	color: rgb(96,87,52);
	}

acronym
	{ 
	cursor: help; 
	border-bottom: 1px solid #999; 
	}

a
	{ 
	text-decoration: none; 
	color: rgb(150,145,29); 
	}

a:hover
	{ 
	color: rgb(203,202,5); 
	}

em
	{ 
	font-style:normal; 
	}

.deadlink 
	{
	text-decoration:line-through;
	}

.highlight
	{
	padding:0px 1px;
	background-color: rgb(215,215,0);
	color: rgb(96,87,52);
	}

/*------------------------------------------------------------*
**  Container
**------------------------------------------------------------*/
	
#container {
	background: rgb(255,255,255) no-repeat fixed top;
	margin: 0 auto;
	width: 740px;
	padding: 0 5px;
	text-align: left; /* Cancel IE Fix */
	}
	
/*------------------------------------------------------------*
**  Header
**------------------------------------------------------------*/
		
#header {
	background: url(../grafiken/header.png) no-repeat;
	border-top: 5px solid rgb(255,255,255);
	border-bottom: 10px solid rgb(255,255,255);
	padding: 10px;
	height: 80px;
	overflow: hidden;
	}
	
#header h1 {
	display: none; /* hide */
	margin: 0;
	color: rgb(194,199,169);
	font-size: 1.8em;
	font-weight: normal;
	cursor: default;
	}
	
#header h1 a {
	display: none; /* hide */
	color: rgb(194,199,169) !important;
	border-bottom:none;
	}

#header h2 {
	display: none; /* hide */ 	
	margin: 0px;
	color: rgb(215,215,0);
	font-size: 10px;
	font-weight: normal;
	padding-top: 70px;
	cursor: default;
	}
	
#header #searchcontainer {
	float:right;
	padding: 0px;
	}

#header #searchcontainer input.searchbutton {
	display: none;
	}

#header #searchcontainer input.searchtextfield {
	border: 1px solid rgb(90,92,78);
	}

/*------------------------------------------------------------*
**  Nav
**------------------------------------------------------------*/

#nav {
	border-bottom: 3px solid rgb(8,7,5);
	margin-bottom: 10px; 
	padding: 0px 0px 4px 0px;
	height: 24px;
	}

#nav ul {
	margin: 0px; 
	padding:0px;
	}

#nav li {
	list-style-type: none;
	display: inline;
	}		

#nav li a { 
	height: 14px;
	border-right: 4px solid rgb(255,255,255); 
	padding: 5px 10px 5px 10px;
	color: rgb(8,7,5);
	font-weight: bold;
	font-size: 13px;
	text-decoration: none; 
	text-transform: uppercase;
	float: left;
	}

#nav li a:hover { 
	background: rgb(215,215,0);
	}

/* #nav li a.menuactive { 
	} */

/* #nav li a.on {
	} */

/*------------------------------------------------------------*
**  Side Bar
**------------------------------------------------------------*/
#sidebar {
	/* background-color: rgb(215,215,0); */
	padding: 10px;
	float: left;
	width: 162px;
	position: relative;
	margin-bottom: 10px;
	}

#sidebar div { background: #fff url(../grafiken/para_bg.jpg) repeat-x; 
	}

#sidebar ul { 
	list-style: circle outside;
	margin: 0px 0px 10px 10px;
	padding: 0px 0px 10px 10px;
	/* list-style-image: url([Dateiname]); */
	}

#sidebar li { 
	padding: 0px 0px 10px 0px;
	}	
/*------------------------------------------------------------*
**  Side Bar & Content
**------------------------------------------------------------*/
#sidebar h3, #content h3 { 
	font-size: 1.1em; 
	color: rgb(90,92,78); 
	cursor: default;
	}

#sidebar div, #content div { 
	padding: 1px 0 10px 0;  
	border-top: 1px solid #ddd; 
	padding: 10px;
	}	
/*------------------------------------------------------------*
**  Content
**------------------------------------------------------------*/
#content {
	background: url(../grafiken/dot_line.png) repeat-y left;
	padding: 10px 0px 10px 10px;
	float: left;
	width: 537px;
	position: relative;
	margin-left: 1px;
	text-align: justify; 
	margin-bottom: 10px;
	}
	
#gallerycontent {
	background: url(../grafiken/dot_line.png) repeat-y left;
	padding: 10px 0px 10px 10px;
	float: left;
	width: 537px;
	position: relative;
	margin-left: 1px;
	text-align: center; 
	margin-bottom: 10px;	
	}

#content div { background: #fff url(../grafiken/para_bg.jpg) repeat-x; 
	}	
/*------------------------------------------------------------*
**  Footer
**------------------------------------------------------------*/
#footer {
	border-bottom: 5px solid rgb(255,255,255);
	background: rgb(8,7,5);
	text-align: right;
	color: rgb(96,87,52);
	font-size: 9px;
	height: 12px;
	padding: 6px 10px 6px 10px;
	clear: both;
	}
	
#footer a { 
	text-decoration: none; 
	text-transform: uppercase;
	color: rgb(96,87,52);
	border-bottom: 0px solid #A2AFBF; 
	}

#footer a:hover { 
	color: rgb(215,215,0);  
	}



/* -------------------------------------------------------- */
/*                                                          */
/* AB HIER: CMS-SYNTAX                                      */
/*                                                          */
/* -------------------------------------------------------- */


/* -------------------------------------------------------- */
/* [link|...]      */
/* --------------- */
a.link {
}


/* -------------------------------------------------------- */
/* [mail|...]      */
/* --------------- */
a.mail {
}


/* -------------------------------------------------------- */
/* [seite|...]      */
/* --------------- */
a.page {
}


/* -------------------------------------------------------- */
/* [kategorie|...]      */
/* --------------- */
a.category {
}


/* -------------------------------------------------------- */
/* [datei|...]      */
/* --------------- */
a.file {
}


/* -------------------------------------------------------- */
/* [galerie|...]      */
/* --------------- */
a.gallery {
}


/* -------------------------------------------------------- */
/* [bild|...] */
/* ---------- */
img {
	border:none;
}

span.imagesubtitle {
	margin:3px 0px !important;
	text-align:justify;
	font-size:0.8em;
	line-height:1.4em;
	padding:0px !important;
	border:none !important;
}


/* -------------------------------------------------------- */
/* [bildlinks|...] */
/* --------------- */
span.leftcontentimage {
	margin:6px 20px 6px 20px;
	max-width:200px;
	float:left;
	margin-left:0px;
	border:none !important;
}

img.leftcontentimage {
	max-width:200px;
	border:1px solid;
}


/* -------------------------------------------------------- */
/* [bildrechts|...] */
/* ---------------- */
span.rightcontentimage {
	margin:6px 20px 6px 20px;
	max-width:200px;
	float:right;
	margin-right:0px;
	border:none !important;
}
img.rightcontentimage {
	max-width:200px;
	border:1px solid;
}


/* -------------------------------------------------------- */
/* [fett|...] */
/* ---------- */
b {

}


/* -------------------------------------------------------- */
/* [kursiv|...] */
/* ------------ */
i {

}


/* -------------------------------------------------------- */
/* [unter|...] */
/* ------------ */
u {

}


/* -------------------------------------------------------- */
/* [durch|...] */
/* ------------ */
s {

}


/* -------------------------------------------------------- */
/* [ueber1|...] */
/* ------------ */
h1 {
	margin:0px;
}


/* -------------------------------------------------------- */
/* [ueber2|...] */
/* ------------ */
h2 {

}


/* -------------------------------------------------------- */
/* [ueber3|...] */
/* ------------ */
h3 {

}


/* -------------------------------------------------------- */
/* [liste|...] */
/* [numliste|...] */
/* ------------ */
ul, ol {
	list-style: circle outside;
	margin: 0px 0px 10px 10px;
	padding: 0px 0px 10px 10px;
	/* list-style-image: url([Dateiname]); */
	}

li {
	padding: 0px 0px 10px 0px;
	}


/* -------------------------------------------------------- */
/* [----] */
/* ------ */
hr {

}

/* -------------------------------------------------------- */
/* [tabelle|...] */
/* ------------- */
table.contenttable {
	margin:0px auto;
	border:1px solid #858F9E;
	border-collapse:collapse;
	width:100%;
}
th.contenttable {
	vertical-align:top;
	border:1px solid #858F9E;
	background-color:#858F9E;
	padding:2px 5px;
	color:#ffffff;
}
td.contenttable1 {
	vertical-align:top;
	border:1px solid #858F9E;
	background-color:#ffffff;
	padding:2px 5px;
}
td.contenttable2 {
	vertical-align:top;
	border:1px solid #858F9E;
	background-color:#ffffff;
	padding:2px 5px;
}
